<div class="about-banner">
  <div class="content">

    <div class="overlay" style="background: url('/meta/page_bg_02.png')"></div>
    <div class="text-wrapper">
      <div class="main-title">
              <span class="no-wrap">
                우리는 트리링 디벨로퍼즈,
              </span>
        <span class="no-wrap">
                <span class="highlight-text">26층 개발자들</span>입니다!
              </span>
      </div>
      <br/>
      <div class="description">
              <span class="no-wrap">
                26층은 트리링의
              </span>
        <span class="no-wrap">
               '<span class="highlight-text">시작점</span>'을 나타내고 있어요.
              </span>
      </div>
    </div>
  </div>
</div>
