<div class="main">
    <div class="main-banner">
        <div class="content">
            <div class="overlay" style="background: url('/meta/page_bg_01.png')"></div>
            <div class="text-wrapper">
                <div class="sub-title">
                    <span class="no-wrap">
                        나이테처럼 시간이 지날수록
                    </span>
                    <span class="no-wrap">
                        발전하는 조직,
                    </span>
                </div>
                <div class="main-title">
                    <span class="no-wrap">
                        <a href="https://github.com/ourtreering" target="_blank">트리링</a>의 26층 개발자들이 운영하는
                    </span>
                    <span class="no-wrap">
                        기술 블로그입니다.
                    </span>
                </div>
                <br/>
                <div class="description">
                    <span class="no-wrap">
                        트리링의 소개와
                    </span>
                    <span class="no-wrap">
                        개발자 구성원들,
                    </span>
                    <span class="no-wrap">
                        트리링의 역사 등 이런저런 이야기들을 공유하고 있습니다.
                    </span>
                </div>
                <div class="description">
                    <span class="no-wrap">
                        저희가 배운 것들, 저희가 개선한 것들을
                    </span>
                    <span class="no-wrap">
                        블로그를 통해 함께 나누고 소통하려고 합니다.
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
